<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Vue js basic</title>
</head>
<body>

<div id="product">
    <nav>Welcome to Product</nav>
    <div class="product_content">
        <div class="product_img">
            <img v-bind:src="image" v-bind:alt="product" />
        </div>
        <div class="product_description">
            <h3>{{ title }}</h3>
            <p v-if="qty > 100">Condition</p>
            <p v-else-if="qty > 100">Condition else</p>
            <p v-if="stock">InStock</p>
            <p v-else>Out of Stock</p>
            <p>Price: {{ price }}</p>
            <div v-for="(variant, index) in variants"
                 :key="variant.variantId"
                 class="color_box"
                 :style="{backgroundColor: variant.variantColor }"
                 @mouseover="productUpdate(index)"
            >
            </div>
            <!-- card -->
            <div class="card">
                <button
                        @click="addToCard"
                        :disabled="!stock"
                        :class="{ disabledButton: !stock }"
                >Add to card</button>
            </div>

        </div>
        <div class="card_value">
            <p>Card({{ card }})</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="assets/js/vue.js"></script>
</body>
</html>