body {
    margin: 0;
    padding: 0;
}
nav {
    background: #42b983;
    padding: 5px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.product_content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.product_description {
    margin-left: 5px;
}
.product_img {
    width: 300px;
    height: 300px;
}
.product_img > img {
    background: #42b983;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 4px;
}
.card {
    margin-top: 8px;
}
.card > button {
    width: 149px;
    height: 40px;
    background-color: #42b983;
    color: white;
    border: none;
    cursor: pointer;
}
.card > button:hover {
    background-color: #17a2b8;
}
.card_value {
    width: 200px;
    height: 50px;
    background: #42b983;
}
.card_value > p {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.color_box {
    width: 40px;
    height: 40px;
    background: #17a2b8;
    margin: 5px;
}

.disabledButton {
    background-color: #ffff !important;
}